<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/home.css">
    <title>Groceries</title>
  </head>
  <body>
    <h2>Groceries</h2>
    <ul>
      <% @items.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
    <form action="/groceries" method="post">
      <label for="item">Add New Item:</label>
      <input type="text" id="item" name="item">
      <input type="submit">
    </form>
  </body>
</html>
