<!DOCTYPE html>
<html>
  <head>
    <title>League</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>
      Position: <%= position %>
    </h1>
      <ol>
        <% data.each do |team, info| %>
          <% info.each do |player, position| %>
            <% if player == params[:position] %>
             <li><%= "#{position}: #{team}" %></li>
            <% end %>
          <% end %>
        <% end %>
      </ol>
    <a href="/teams">All Teams</a>
  </body>
</html>
